@use '../scss/utility/fonts' as f;
@use '../scss/global/colors' as c;

/* FUNCTIONS */
@function calculateRem($size) {
	$remSize: calc($size / 16px);
	@return #{$remSize}rem;
}

@mixin fontSize($size) {
	font-size: $size; // Fallback in px
	font-size: calculateRem($size);
}

/* ROOT */
:root {
	--container: 69.375rem;
	--transition: 250ms ease-in-out;
}

html,
body {
	overflow-x: hidden;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
input,
textarea,
button {
	font-family: 'Determination Sans';
}

body {
	@include fontSize(18px);
	background-color: c.$background;
	color: c.$text1;
	line-height: 1.56;
	margin: 0;
}

.bg-less-dark {
	background-color: c.$margin;
}

h1,
h2,
h3,
p {
	margin-block-start: 0;
}

h1,
h2,
h3 {
	line-height: 1;
}

.header-xl {
	@include fontSize(40px);
	letter-spacing: -0.028em;
	line-height: 1.1;
}

p {
	@include fontSize(16px);
	color: c.$text2;
	line-height: 1.5;
}

a {
	transition: color var(--transition);
}

a.underline,
button {
	color: c.$text1;
	font-size: 2rem;
}

a:hover {
	color: c.$highlight;
}

img,
svg {
	display: block;
}

img {
	border: 4px solid c.$border;
}

.visually-hidden {
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	top: auto;
	width: 1px;
}

.wrapper {
	margin-inline: auto;
	max-width: var(--container);
	width: calc(100% - 3.75rem);
}

/* HEADER */
.header {
	background-color: c.$margin;
	padding-block: 50px 50px;
	margin-block-end: 132px;
	margin-block-start: 0px;
}

.header__nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 24px;
	padding-right: 24px;
}

.header__home {
	@include fontSize(24px);
	color: c.$text1;
	margin-inline-end: auto;
}

.header__social>svg>path {
	transition: fill var(--transition);
}

.header__social:hover>svg>path {
	fill: c.$highlight;
}

/* PROFILE*/
.profile {
	margin-block-start: 0px;
	position: relative;
}

.profile__wrapper {
	padding-bottom: 100px;
	position: relative;
}

.profile__content {
	align-items: flex-start;
	display: flex;
}

.profile__content picture {
	order: 2;
	margin-left: -80px;
}

.profile__image {
	left: 50%;
	height: 400px;
	width: 400px;
	position: relative;
	top: 50px;
	translate: -50%;
	margin-block-start: -182px;
}

.profile__image[type="checkbox"] {
	appearance: none;
	content: url('/assets/images/profile_image_clicked.jpg');
	display: block;
	height: auto;
	width: auto;
}

.profile__image:hover {
	cursor: pointer;
}

.profile__text {
	border: 4px solid c.$border;
	margin-right: 76px; // -4px to overlap image border.
	z-index: 1;
}

.profile__headline {
	@include fontSize(80px);
	margin-block: 0px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: -4px;
}

/* PROJECTS */
.projects__wrapper {
	padding-block: 140px; // top and bottom padding
}

.projects__grid {
	display: grid;
	gap: 80px 0px;
	grid-template-columns: repeat(2, 1fr);
	justify-items: start;
	text-align: center;
}

.projects__headline {
	@include fontSize(60px);
	grid-column: span 1;
	margin-block-end: 0;
}

.projects__item {
	display: grid;
}

.projects__item:hover .projects__picture::after {
	opacity: 0.5;
}

.projects__item:hover .projects__links {
	opacity: 1;
}

.projects__item:focus-within .projects__links {
	opacity: 1;
}

.projects__item:focus-within .projects__picture::after {
	opacity: 0.5;
}

.projects__picture {
	margin-block-end: 20px;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	position: relative;
}

.projects__picture::after {
	background-color: c.$project-hover;
	content: "";
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 150ms ease-in-out;
	height: 100%;
	width: 100%;
}

.projects__image {
	height: 100%;
	width: 100%;
}

.projects__name {
	@include fontSize(32px);
	margin-block-end: 10px;
}

.projects__tags {
	@include fontSize(18px);
	margin-block-end: 0px;
}

.projects__tags span {
	margin-inline-end: 12px;
}

.projects__links {
	align-self: center;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	opacity: 0;
	transition: opacity 500ms ease-in-out;
	z-index: 1;
}

.projects__links a {
	margin-inline-end: 30px;
}

.projects__links:hover~.projects__picture::after {
	opacity: 0.5;
}

/* FOOTER */
footer {
	padding-block: 50px 50px;
}