$project-hover: hsl(0, 0%, 0%);
$color: hsl(0, 0%, 100%);
$background: hsl(0, 0%, 0%);
$margin: hsl(0, 0%, 16%);
$highlight: hsl(60, 100%, 50%);
$text1: hsl(0, 0%, 100%);
$text2: hsl(0, 0%, 85%);
$border: hsl(0, 0%, 100%);
$warning: hsl(0, 100%, 50%);
$dark-warning: hsl(0, 100%, 25%);